*{box-sizing: 0;}

@font-face {
    font-family:lindafont;
    src: url(../fonts/lindafont.ttf);
}
@font-face {
    font-family:cursiva;
    src: url(../fonts/cursiva.ttf);
}

header{
    height: 90px;
    background-color: rgb(61, 58, 58);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 8px 8px 8px;
    
    .div_logo{
        width: 20%;
    }
    .div_nav{
        width: 45%;
    }
    .div_redes{
        width: 30%;
    }
    .img_logo{
        width: 100px;
        height: 80px;
        margin-left: 50px;
    }
    .ul_nav{
        display: flex;
        list-style-type: none;   
        justify-content: space-evenly;
    }    
    .a_nav{
        text-decoration: none;
        color: grey;
        font-size: 20px;
        font-weight: 800;
        font-family: 'Nerko One', cursive;
    }
    .a_nav:hover{
        background-color: rgba(241, 165, 137, 0.705);
        color: rgb(75, 75, 75);
        border-radius: 5px;
        padding: 3px;
    }
    .logo_redes{
        height: 35px;
        width: 35px;  
    }
    .ul_redes{
        display: flex;
        list-style-type: none;
        justify-content: space-around;
    }
    .li_redes:hover{
        transform: scale(1.5,1.5);
        transition: 2s;
    }
}

#footer_index{
    width: 100%;
    height: 300px;
    background-image: url(https://powell-peralta.com/skin/frontend/soc/powellperalta/images/bg-dragon.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-between;

.div_footer{
    width: 30%;
}
.logo_wp{
    height: 50px;
    width: 50px;
}
.a_wp{
    text-decoration: none;
    text-align: center;
    color: rgb(80, 60, 34);
    font-style: italic;
}
h2{
    color: rgb(204, 204, 204);
    font-size: 15px;
}
.form_footer{
    display: flex;
    flex-direction: column;
    font-size: 15px;
}
.btn{
    height: 40px;
    width: 100px;
    margin-top: 6px;
}
label{
    color: rgb(204, 204, 204);
    font-size: 15px;
}


}

#body{
    background-color: black;
}

#main_grilla_index{
        display: grid;        
        grid-template-columns: 8% 40% 40% 8%;
        grid-template-rows: 45% 45%;        
        background-color: black;        
        justify-content: space-between; 
        align-content: space-between;
        
        align-items: center;
        height: 1500px;     
        
        .div_hidden{
            visibility: hidden;        
        }

        .img_carrousel{
            height: 500px;
            width: 600px;
        }

        #h1_texto{
            font-family:lindafont;
            font-size: 50px;
            color: rgba(255, 255, 255, 0.678);
            background: linear-gradient(yellow,orange, red);
            -webkit-background-clip: text;
            color: transparent;  
            margin-top: 60px;
            
        }
        #h2_texto{
            font-family:lindafont;
            font-size: 45px;
            
            padding-top: 100px;
            background: linear-gradient(yellow,orange, red);
            -webkit-background-clip: text;
            color: transparent;  
        }
        #p_texto{
            font-family:cursiva;
            text-decoration: underline;
            font-size: 80px;            
            padding-top: 100px;
            text-align: center;
            background: linear-gradient(red,orange, yellow);
            -webkit-background-clip: text;
            color: transparent;
            text-decoration: underline;
            
        }
        
}

#grilla_galeria{
    display: grid;
    height: 90%;
    grid-template-columns: 15% 80%;
    grid-template-rows: 5% 15% 5% 15% 5% 15%;
    grid-template-areas: "titulo_img1 img_galeria1"
                        "parrafo_1 img_galeria1"
                        "titulo_img2 img_galeria2"
                        "parrafo_2 img_galeria2"
                        "titulo_img3 img_galeria3"
                        "parrafo_3 img_galeria3";
    justify-content: center;
    align-content: space-around;
    justify-items: center;
    align-items: center;   
    background-image: linear-gradient( to bottom, black, grey);
}

#titulo_img1{
    font-size: 40px;
    color: rgb(133, 0, 0);
    font-family: "Roboto";        
    text-decoration: underline;
    
}
#titulo_img2{
    font-size: 40px;
    color: rgb(133, 0, 0);
    font-family: "Roboto";        
    text-decoration: underline;
}
#titulo_img3{
    font-size: 40px;
    color: rgb(133, 0, 0);
    font-family: "Roboto";        
    text-decoration: underline;
}

.img_galeria1{
    height: 100%;
    width: 70%;
    object-fit: cover;
    grid-area: img_galeria1;
}
.img_galeria2{
    height: 100%;
    width: 70%;
    object-fit: cover;
    grid-area: img_galeria2;
}
.img_galeria3{
    height: 100%;
    width: 70%;
    object-fit: cover;
    grid-area: img_galeria3;
}
.img_galeria1:hover{
    transform: scale(1.1);
    transition: 2s;
}
.img_galeria2:hover{
    transform: scale(1.1);
    transition: 2s;
}
.img_galeria3:hover{
    transform: scale(1.1);
    transition: 2s;
}

.parrafo_1{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: "Roboto";
    justify-self: start;
    align-self: flex-start;}

.parrafo_2{
    color: rgb(202, 202, 202);
    font-size: 30px;
    font-family: "Roboto";
    justify-self: start;
    align-self: flex-start;
}        
.parrafo_3{
    color: rgb(175, 175, 175);
    font-size: 30px;
    font-family: "Roboto";
    justify-self: start;
    align-self: flex-start;}



    .card{
        width: 90%;
        max-width: 350px;
        margin: 1rem auto;
        border: 1px solid black;
        border-radius: 10%;
        text-align: center;
        background-color: white;
        max-height: 700px;
    }

    .card img{
        border: 1px solid black;
        border-radius: 0.5%;
        min-width: 250px;
        width: 100%;
        height: 300px;
    }
    .content{
        padding: 1rem;
        font-size: 1rem;
    
    }
    .content a{
        padding: 0.5rem;
        text-decoration: none;
        color: gray;
        border: 1px black solid;
        border-radius: 10%;
        color: white;
        background-color: black;    
        font-size: 1.25rem;
    
    }
    .content p{
        padding: 0.25rem;
    }
    .content a:hover{
        height: 200%;
        
    }

    .precioCard{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0.75rem;
    }   
    

    .navbar-brand{
        color: white;
    }

    #img_carrito{
        height: 35px;
        width: 35px;
    }

    #form_tienda{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .label_form{
        font-size: 1.25rem;
        color: white;
    }